.remove-modal {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    b {
      font-weight: 600;
    }
  }
}