@use "../../config/videoMixins" as *;
@use "../../config/mixins" as *;

.playlist-add-videos-modal {
  overflow-y: auto;
  gap: 1.875rem;

  @include breakpoint(tablet) {
    max-width: 1105px;
    width: 100%;
    overflow: hidden;
    max-height: 860px;
    height: 100%;
  }


  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;

    @include breakpoint(tablet) {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex-grow: 1;
      overflow-y: auto;
    }
  }

  &__content--loading {
    @include breakpoint(tablet) {
      overflow-y: hidden;
    }
  }

  &__inputs {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;

    @include breakpoint(tablet) {
      flex-direction: row;
    }
  }

  &__input {
    width: 100%;

    @include breakpoint(tablet) {
      max-width: 280px;
    }
  }
}
