@use "../../config/variables" as *;
@use "../../config/mixins" as *;

.empty-state {
  display: inline-block;
  text-align: center;
  font-family: $font-secondary;
  font-size: .8125rem;
  font-weight: 400;
  color: var(--empty-state-text-color, #{$c-tertiary});
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  padding-block: 32px;
  padding-inline: 0;

  @include breakpoint(tablet) {
    font-size: 1rem;
  }
  

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 4.5rem);
    inset-block: 0;
    background: $c-secondary;
    z-index: -1;
  }
}
