@use "../../config/variables" as *;
@use "../../config/videoMixins.scss" as *;

.video-upload {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  &__edit-label {
    font-weight: 300;
  }

  &__input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
    padding: 1.875rem;
    gap: .6875rem;

    border: 1px dashed $c-tertiary;
    border-radius: 0.75rem;

    color: rgba($c-tertiary, 0.5);
    font-family: $font-secondary;
    text-align: center;

    cursor: pointer;
  }

  &--error {
    .video-upload__placeholder {
      border-color: $c-error;
      color: $c-error;
    }
  }

  &__preview-wrapper {
    position: relative;
    display: flex;
    cursor: pointer;
    max-width: 335px;
    @include video-card-thumbnail;

    &--locked {
      cursor: not-allowed;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba($c-tertiary, 0.3);
        pointer-events: none;
      }
    }

    &__remove-btn {
      position: absolute;
      top: 1.25rem;
      right: 1.25rem;
      z-index: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 26px;
      height: 26px;
      background-color: $c-tertiary;
      border-radius: 50%;
      cursor: pointer;

      transition: background-color 0.2s ease;

      svg {
        width: 12px;
        height: 12px;

        path {
          stroke: white;
          transition: stroke 0.2s ease;
        }
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);

        svg path {
          stroke: black;
        }
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }

  &__filename {
    color: rgba($c-tertiary, 0.5);
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 0;
    color: $c-error;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 0.25rem;
    pointer-events: none;
    font-family: $font-secondary;
  }
}
