@use "../../config/variables" as *;
@use "../../config/mixins" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: $c-primary;
  z-index: 30;
  width: 100%;
  height: $mobile-header-height;
  box-sizing: border-box;

  .header__left {
    display: flex;
    align-items: center;
    gap: .75rem;
  }

  .header__logo-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.2s ease;

    @include click-animation(0.99, 0.1s);

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .header__logo {
    width: 120px;
    height: auto;
    display: block;
  }

  @include breakpoint('tablet') {
    display: none;
  }
}
