@use "../../config/variables" as *;

.tag-row {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba($c-tertiary, 0.3);

  &:hover {
    background: rgba($c-tertiary, 0.05);
  }

  &:last-child {
    border-bottom: none;
  }

  &__left {
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }

  &__name {
    color: #000;
    font-size: 1rem;
  }

  &__actions {
    display: flex;
    gap: 20px;
    flex-shrink: 0;

    svg {
      flex-shrink: 0;
      display: flex;
      width: auto;
      height: 16px;
    }
  }

  &__icon-btn {
    color: inherit;
  }

  &__icon-btn--edit {
    color: rgba($c-tertiary, 0.7);
  }

  &__color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba($c-tertiary, .1);
  }
}
