@use "../../config/variables" as *;

.video-duration {
  position: absolute;
  bottom: 0.75rem;
  right: 0.75rem;
  z-index: 1;

  padding: 0.2rem 0.5rem;
  border-radius: .375rem;
  background-color: rgba($c-tertiary, 0.698);

  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: $c-primary;
}