@use "../../config/mixins" as *;
@use "../../config/variables" as *;
@use "../../config/videoMixins.scss" as *;

.video-card-selector {
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow: hidden;
  position: relative;

  @include breakpoint(tablet) {
    overflow: initial;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }

  &__thumbnail {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    display: block;
    @include video-card-thumbnail;

    &--disabled {
      cursor: not-allowed;
    }
  }

  &__title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: .6875rem;
    gap: .6875rem;

    &__title {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.25rem;
    }
  }

  &__checkbox {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }


  &__grid-icon {
    justify-self: end;
    cursor: grab;
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
