@use "../config/variables" as *;
@use "../config/mixins" as *;

@mixin video-card-thumbnail {
  width: 100%;
  object-fit: cover;
  border: 2px solid $c-primary;
  border-radius: .625rem;
  overflow: hidden;
  height: 190px;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
  }
}

@mixin video-list-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  column-gap: 20px;

  @include breakpoint(tablet) {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
}
